// app global css in SCSS form
@import './lib/highlight';
@import './lib/github-markdown';

$notify-margin-top: 70px; //notify距离顶部高度
$left-header-max-height: 68px;
$right-header-max-height: 36px;

body {
  overflow: hidden;
}
.q-notifications {
  .q-notifications__list.q-notifications__list--top {
    margin-top: $notify-margin-top;
    .q-notification--standard {
      padding: 0 8px;
      min-height: 40px;
    }
  }
}


.inline {
  display: inline;
}
/**
 * 聊天列表滚动栏
 */
.chat-list-scroll {
  height: calc(100vh - $left-header-max-height);
  margin-top: $left-header-max-height;
  .q-scrollarea__content {
    width: inherit;
  }
  .q-item__section--avatar {
    min-width: auto;
  }
  .q-item__section--main ~ .q-item__section--side {
    padding-left: 0;
  }

}
/**
 * 聊天列表menu 菜单
 */
.chat-list-menu .q-list {
  .q-item {
    min-height: 35px;
  }
}
/**
 * 聊天列表选中
 */
.chat-list-active {
  color: black;
  background: $grey-5;
}
/**
 * 聊天列表header
 */
.chat-list-header {
  max-height: $left-header-max-height;
}
/**
 * 覆盖默认滚动条样式
 */
.q-scrollarea__thumb {
  border-radius: 7px;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 7px;
}
